.container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed #ccc;
}

.leftWrapper {
    padding: 1.5em;

}

.rightWrapper {
    padding: 1em 1.8em;
}

.title {
    font-weight: bold;
}