.wrapper {
    width: 100vw;
}

.header {
    padding: 2em;
    border-bottom: 1px dashed #ccc;
}

.headerText {
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 25%;
    max-width: 25%;
}

@media screen and (max-width: 800px) {
    .col {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}